@Model DateTime?
@{
    ViewBag.Title = "Index";
}

@*<img src="~/images/china_idk.jpg" />*@  

<a href='@Url.Action("Create", "FutureStudent")'>
    <img src='@Url.Content("~/images/COB-GlassHall02.png")' />
</a>

    

