@{
    ViewBag.Title = "About";
}
<div class="text-center"><h1>About</h1></div>
<main class="container-fluid" style="margin:auto">
    <div class="well col-lg-6 center-item">
        <p>
            The COB’s Executive Masters of Business Administration program
            is making a big impact on the students from China who enroll
            in this yearlong program on the MSU campus. The EMBA, a unique
            cohort-based contract program where students progress through
            curriculum as a group, began in 2007.  Students in this program
            are all Chinese citizens and working professionals with five to
            30 years of experience in their field.  Each student is sponsored
            by his or her home university, current employer or the Chinese government.
            Participation requires one year of full-time study on MSU’s Springfield campus.
            Students take 12 credit hours in the fall and spring semesters and nine credit
            hours in the summer semester.  Courses are taken one at a time over a
            four-week period.  Students generally spend four hours a day in class
            three days a week.
        </p>
    </div>
</main>