@{
    ViewBag.Title = "Contact Us";
}
<div class="text-center">
    <h1>Contact</h1>
</div>

<div class="container">
    <div class="col-lg-4 well center-item">
        <p>
            Xiao'ou (Sean) Gong
            COB China Programs Specialist
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-envelope">&nbsp;&nbsp;Xgong@missouristate.edu</span></li>
                <li><span class="glyphicon glyphicon-phone-alt">&nbsp;&nbsp;1-417-350-2423</span></li>
                <li><span class="glyphicon glyphicon-globe">&nbsp;&nbsp;Glass Hall 403</span></li>
            </ul>
        </p>
    </div>
</div>
