@model HippoCampus.Models.FutureStudentModel

@{
    ViewBag.Title = "Activate";
}

<h2>Activate</h2>

<h3>Are you sure you want to approve @Html.DisplayFor(model => model.ftre_stdnt_first_name) @Html.DisplayFor(model => model.ftre_stdnt_last_name)?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Activate" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
